@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#__next {
  height: calc(100% - 5rem);
}

.gradient {
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(226, 3, 3, 1) 0%,
    rgba(243, 114, 45, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind utilities;
